# --- C/C++ Build Artifacts ---
# Object files
*.o
*.obj

# Static and Dynamic Libraries
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll

# --- Executables ---
# Common extensions
*.exe
*.out
*.app

# Specific project executables (Linux binaries)

data1.csv
fann_csv_test
# --- Build Directories ---
build/
bin/
dist/
obj/
.vscode/


# --- IDE & System Configs ---

.idea/
.DS_Store
Thumbs.db

# --- Temporary & Backup Files ---
*.log
*.bak
*.swp
*~
